body {
    text-align: center;
}

#changeButton {
    margin: 30px;
    display: inline-block;
    height: 128px;
    width: 128px;
    background-image: url("/images/active.svg");
    cursor: pointer;
}

#changeButton.block {
    background-image: url("/images/block.svg");
}

.time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font-size: 20px;
}

.time input {
    margin: 0 10px;
    font-size: 24px;
    font-weight: bold;
    border: 5px solid red;
    border-radius: 10px;
    color: red;
    padding: 5px 10px
}
